/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;700&family=Ubuntu&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.login-text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #00000040;
    transition: background-position 1s;
}

.login-text-content h2 {
    margin: 10px;
    font-size: 42px;

}

.login-text-content p {
    margin: 10px;
    font-size: 24px;
}
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex: 1;
    height: 100vh;
}

.login-form-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-width: 90%;
}

.login-form-content img {
    align-self: center;
    margin-bottom: 35px;
}

.login-form-content a {
    align-self: flex-end;
    text-decoration: none;
    color: #2b2b2b;
    margin-bottom: 25px;
}

a:hover {
    color: #00B7BC;

}

.login-form-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #cccccc;
    color: #4c4c4c;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    background: linear-gradient(90deg, #0B9DCA 0%, #00B7BC 100%);
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    box-shadow: 4px 4px 4px #00000040;
}

form button:hover {
    background: linear-gradient(180deg, #0B9DCA 0%, #00B7BC 100%);

}

.login-form-divider {
    columns: #626476;
    border-bottom: solid 1px #626476;
    align-items: stretch;
}

.login-form-divider div{
    position: relative;
    width: 150px;
    top: 10px;
    left: calc(50% - 75px);
    text-align: center;
    background-color: #FFFFFF;
}

.login-form-google {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

#google-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid 1px #EAEAEA;
    border-radius: 5px;
    padding: 20px;
}
#google-icon {
    margin: 10px;
    display: inline;
    width: 30px;
    height: 30px;
    background-image: url(../images/google.svg);
    background-size: 30px;
    
}

.login-form-subscribe {
    align-self: center;
    display: flex;
    text-align: center;
    justify-content: center;

}
.login-form-subscribe a {
    color: #0B9DCA;
}

.login-form-subscribe a:hover {
    color: #00B7BC;
}

/* Animacao BG */
@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
.login-text {
    animation: slide 90s linear alternate-reverse infinite;
}

@media screen and (max-width: 768px) {
    .login-container{
        flex-direction: column;
    }

    .login-text {
        flex: 1;
    }

    .login-text-content h2 {
        font-size: 1.6rem;
    }

    .login-text-content p {
        font-size: 1rem;
    }

    .login-form {
        flex: 4;
    }
}